.main{
	width: auto;
	height: auto;
	min-height: 70vh;
	padding: 50px ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.forms{
	width: 300px;
	height: 400px;
	background-color: rgba(var(--light),0.5);
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color:rgb(var(--dark));
	font-size: 2em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .3s ease-in-out;
}
input{
	width: 60%;
	height: 15px;
	background:rgb(var(--light));
	justify-content: center;
	display: flex;
	margin: 15px auto;
	padding: 7px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.sign_button{
	width: 60%;
	height: 30px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color:rgb(var(--light));
	border: 1px solid rgba(var(--light), 0.5);
	background:rgb(var(--dark));
	
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	
	border-radius: 5px;
	transition: .2s ease-in-out;
	
	cursor: pointer;
}
.sign_button:hover{

	background-color: rgba(var(--light),1);
	border: 1px solid rgba(var(--dark),1);
	color:rgb(var(--dark));
}

.login{
	height: 300px;
	background:rgb(var(--dark));
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .3s ease-in-out;
}
.login label{
	color:rgb(var(--light));
	padding-top: 10px;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-400px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
